<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div [ngStyle]="{'background':config.color,
                    'padding':'20px',
                    'border': '5px solid red'
                  }">
    <h1>---{{descripcion}}</h1>
    <nav>
      <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>&NonBreakingSpace;
      <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>&nbsp;
      <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>&nbsp;
      <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
      
    </nav>
    <hr/>


    <!-- <button (click)='ocultarVideojuegos(false)' *ngIf='mostrar_videojuegos'>Ocultar fun destroy</button>
    <button (click)='ocultarVideojuegos(true)' *ngIf='!mostrar_videojuegos'>Mostrar</button>
    <videojuego *ngIf='mostrar_videojuegos'></videojuego>
    <zapatillas></zapatillas>
    <cursos></cursos> -->

    <!-- <zapatillas></zapatillas> -->
    <router-outlet></router-outlet>

  </div>
 
  
</body>
</html>